@charset "utf-8";

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f8f8f8;
}
.container {
    display: grid;
    grid-template-columns: 220px 1fr;
    gap: 1em;
    grid-template-areas:
        "header-A header-A"
        "aside-A main-A"
        "footer-A footer-A";
}

header {
    grid-area: header-A;
    background-color: #faa;
    padding: 20px;
    text-align: center;
}

.gnav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
}
.gnav ul li {
    display: inline-block;
    margin-right: 8px;
    padding: 8px 12px;
    border: 1px solid #000;
    border-radius: 4px;
    background: linear-gradient(#ffffff, #999999);
}
.gnav a {
    text-decoration: none;
    color: #000;
}

aside {
    grid-area: aside-A;
    background-color: #aaf;
    padding: 20px;
}
aside ul {
    padding-left: 20px;
}

main {
    grid-area: main-A;
    background-color: #afa;
    padding: 20px;
}
section {
    margin-bottom: 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
}
table,
tr,
th,
td {
    border: 1px solid #000;
}
th,
td {
    padding: 10px;
    text-align: center;
}
th {
    background-color: #ffe599;
}

footer {
    grid-area: footer-A;
    background-color: #aaa;
    padding: 15px;
    text-align: center;
}
