@charset "utf-8";

.gnav > ul {
    list-style: none;
    padding: 0;
}
.gnav > ul > li {
    display: inline;
    margin: 0 8px 0 0;
    padding: 8px 4px;
    border: 1px solid #b71c1c;
    border-radius: 4px;
    background: linear-gradient(#ffffff, #ffcc80);
}
.gnav a {
    text-decoration: none;
    color: #000;
}

.container {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 1em;
    grid-template-areas:
        "header-A header-A"
        "aside-A main-A"
        "footer-A footer-A";
}

header {
    background-color: #ff8a65;
    grid-area: header-A;
    padding: 20px;
    text-align: center;
}

aside {
    background-color: #ffe0b2;
    grid-area: aside-A;
    padding: 20px;
}

main {
    background-color: #fff8e1;
    grid-area: main-A;
    padding: 20px;
}
main img {
    display: block;
    margin: 20px auto;
    border: 2px solid #ff8a65;
    border-radius: 8px;
}

footer {
    background-color: #ffb74d;
    grid-area: footer-A;
    padding: 20px;
    text-align: center;
}
footer a {
    text-decoration: none;
    color: #000;
}
